@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Default: Show styled scrollbar for width >= 768px */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: #f3f4f6; /* Tailwind gray-100 */
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #a1a1aa; /* Tailwind zinc-400 */
  border-radius: 8px;
  transition: background 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* Tailwind zinc-600 */
}
.dark ::-webkit-scrollbar-track {
  background: #18181b; /* Tailwind zinc-900 */
}
.dark ::-webkit-scrollbar-thumb {
  background: #52525b; /* Tailwind zinc-600 */
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; /* Tailwind zinc-400 */
}
::-webkit-scrollbar-button {
  display: none;
}

/* Hide scrollbar for width < 768px */
@media (max-width: 767px) {
  /* Chrome, Safari, Opera */
  ::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
    background: transparent;
  }
  /* Firefox */
  html {
    scrollbar-width: none;
  }
  /* IE, Edge */
  html {
    -ms-overflow-style: none;
  }
}

/* App.css or inside tailwind.config.js (if using Tailwind custom classes) */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 9999px;
  color: white !important;
  height: 50px !important;
  width: 50px !important ;
  padding: 10px !important;
  font-size: 24px !important;
  transition: all 0.2s ease-in-out;
}
.swiper-button-next::after,
.swiper-button-prev:after {
  font-size: 24px !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
  font-weight: bold;
}
